In [1]:
import pandas as pd

In [2]:
import os

In [19]:
os.chdir('C:\\Users\\admin\\Documents\\Ironhack_lessons\\Module 1\\vehicles')

In [7]:
#pour voir dans quelle directory on est 
os.getcwd()

'C:\\Users\\admin\\Documents\\Ironhack_lessons\\Module 1\\vehicles'

In [9]:
#pour voir les fichiers dans la directory
os.listdir()

['.DS_Store',
 'vehicles.csv',
 'vehicles.json',
 'vehicles.xlsx',
 'vehicles_messy.csv',
 'vehicles_pipe.txt',
 'vehicles_tab.txt']

In [10]:
df_csv=pd.read_csv('vehicles.csv')

In [11]:
df_csv.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [12]:
df_tab=pd.read_csv('vehicles_tab.txt', sep='\t')

In [14]:
df_tab.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [15]:
df_pipe=pd.read_csv('vehicles_pipe.txt', sep='|')
df_pipe.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [17]:
#exporter en csv
df_tab.to_csv('vehicles_transformed.txt', sep=',',index=False)
os.listdir()

['.DS_Store',
 'vehicles.csv',
 'vehicles.json',
 'vehicles.xlsx',
 'vehicles_messy.csv',
 'vehicles_pipe.txt',
 'vehicles_tab.txt',
 'vehicles_transformed.txt']

In [20]:
#prend BEAUCOUP de temps
df=pd.read_excel('vehicles.xlsx')

In [21]:
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [22]:
#should have 'orient' but it was correctly oriented so work like this
df=pd.read_json('vehicles.json')
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [23]:
#exporter en jason ici, on perd le nom de colonnes a cause de values
df.to_json('new_json.json',orient='values')

In [25]:
#download pymysql
!pip install pymysql

Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl (47kB)
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3

In [26]:
import pymysql

In [27]:
from sqlalchemy import create_engine

In [38]:
username='root'
host='localhost'
password='Poule!!e1'
database_name='publications'

In [39]:
engine=create_engine(f"""mysql+pymysql://{username}:{password}@{host}/{database_name}""")

In [40]:
pd.read_sql_query('SELECT * FROM sales', engine)

   stor_id   ord_num   ord_date  qty    payterms title_id
0     6380      6871 1994-09-14    5      Net 60   BU1032
1     6380      722a 1994-09-13    3      Net 60   PS2091
2     7066     A2976 1993-05-24   50      Net 30   PC8888
3     7066  QA7442.3 1994-09-13   75  ON invoice   PS2091
4     7067     D4482 1994-09-14   10      Net 60   PS2091
5     7067     P2121 1992-06-15   40      Net 30   TC3218
6     7067     P2121 1992-06-15   20      Net 30   TC4203
7     7067     P2121 1992-06-15   20      Net 30   TC7777
8     7131   N914008 1994-09-14   20      Net 30   PS2091
9     7131   N914014 1994-09-14   25      Net 30   MC3021
10    7131    P3087a 1993-05-29   20      Net 60   PS1372
11    7131    P3087a 1993-05-29   25      Net 60   PS2106
12    7131    P3087a 1993-05-29   15      Net 60   PS3333
13    7131    P3087a 1993-05-29   25      Net 60   PS7777
14    7896    QQ2299 1993-10-28   15      Net 60   BU7832
15    7896     TQ456 1993-12-12   10      Net 60   MC2222
16    7896      X999 1993-02-21   35  ON invoice   BU2075
17    8042  423LL922 1994-09-14   15  ON invoice   MC3021
18    8042  423LL930 1994-09-14   10  ON invoice   BU1032
19    8042      P723 1993-03-11   25      Net 30   BU1111
20    8042   QA879.1 1993-05-22   30      Net 30   PC1035